<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
  <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% block header %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Меню
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('data_collection.add_entity') }}">Добавить</a>
            <a class="dropdown-item" href="{{ url_for('data_collection.delete_entity') }}">Удалить</a>
            <a class="dropdown-item" href="{{ url_for('data_collection.manage_tasks') }}">Управление задачами</a>
          </div>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('frontend.logout') }}">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {{ text }}
  </div>
  {% block content %}{% endblock %}
</body>

</html>